$heading-color: white;
$button-background-color: #11357e;
$example-background-color: white;
$example-header-color: #11357e;
$button-text-color: white;
$button-hover-background-color: #1e4aa1;
$background-dark-gradient: #062a73;
$background-light-gradient: #348fc7;